.wrapper {
  display: block;
  grid-template-columns: 400px 400px;
  gap: 30px;
  text-align: center;
}

.block {
  display: block;
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  width: 500px;
}

h4 {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
